body{
     /** on modifie le fond, la couleur, la typo, ect....**/
     background-color: black;
     color: #ffffff;
     font-family: monospace;

     /** on centre les elements **/
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}
/**on desine le rectangle ou la balle va rebondir**/
#terrain{
     border: 1px solid white;
     position: relative;
     width: 800px ;
     height: 400px ;
     /** on "cache les bords droit et gauche**/
     border-left: black;
     border-right: black;
         
}
/**on dessine la balle**/
#balle{
     position: absolute;
     top: 50%;
     left: 50%;
     width: 20px;
     height: 20px;
     background-color: white;
     border-radius: 100px;
}
/** on dessine la raquette**/
.raquette{
  --hauteur: 25%;
  position: absolute;
  top: calc( 50% - var(--hauteur)/2 );
  height: var(--hauteur); 
  width: 10px;
  background-color: #ffffff;
}

#raquette2{
     right : 0 ;
}
