body{
     background-color: black;
     color: #ffffff;
     font-family: monospace;


}

#terrain{
     border: 1px solid white;
     width: 800px ;
     height: 400px ;
     
}
#balle{
    width: 20px;
    height: 20px;
    background-color: white;
    

}