body{
     background-color: black;
     color: #ffffff;
     font-family: monospace;

}
/** on crée un rectangle qui servira "d'aire de jeux" **/
#terrain{
     border: 1px solid white;
     width: 800px ;
     height: 400px ;
     
}
/** on crée un balle qui va rebondir sur le rectangle ( #terrain)**/
#balle{
    width: 20px;
    height: 20px;
    background-color: white;
    

}